*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  html {
      font-size: 1,1vm;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #FFA500;
      text-align: justify;
      line-height: 150%;
      width: 100%;
      padding: 0;
  }
  
  body{
    background-image:url(../img/fondo2.jpg);
    padding: 0;
    margin: 0;
    z-index: -9999;
  }
  

  
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    padding: 10px 20px;
    background-color: #084572;
    color: white;
  }
  .usuario{
    padding-left: 200px;
  }
  .user-img img{
    width: 50px;
    border-radius: 100%;
    margin-top: 10px;
  }
  .usuario .desplegado{
    display: none;
    position: absolute;
    left: auto;
    right: 245px;
    top: 10%;
    width: 230px;
    background-color: #0f63a0;
    z-index: 67;
    padding: 10px;
    border-radius: 10%;
    border: 2px solid #E6B217;
  }
  .usuario .desplegado:before {
    content: '';
    position: absolute;
    left: 175px;
    top: -5px;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #0f63a0
  
  }
  li>a{
    font-size: 20px;
    font-family: Roboto;
  }
  #login-toggle:checked + .button + .desplegado,#menu-toggle:checked + .menu-icon + .nav {
    display: block;
  }
  
  
  
  
  .menu-hamburguesa {
    position: relative;
    display: flex;
    align-items: center;
  }
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .nav {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #084572;
    width: 200px;
    border-radius: 2%;
    border: 1px solid #E6B217;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 20;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    border-bottom: 1px solid #444;
  }
  
  .nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }

  .nav-li li{
    color: white;
    margin: 4px;
    padding: 4px;
    font-size: 16px;
}




  .lupa{
    width: 35px;
    padding-left: 10px;
}

.barra-busq{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-busq>input{
    flex: 1;
    padding: 0 2%;
    border: 0;
    border-radius: 20px;
    outline: 0;
    font-size: 20px;
    width: 450px;
  border-radius: 20px;
}

.logo {
    width: 250px;
    padding-left: 10%;
}


.container{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  height: 100vh;
}

.card{
  display: grid;
  column-gap: 3.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.card_article{
  position: relative;
  overflow: hidden
}

.card_article img{
  width: 348px;
  border-radius: 1.5rem;
}

.card-info{
  width: 316px;
  background-color: #0f63a0;
  padding-inline: 2.5rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;

}

.precio{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.titulo{
  font-size: var(--h2-font-size);
  font-weight: 500;
  margin-bottom: .75rem;
}

.card_article:hover .card-info{
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card_article:hover {
  animation: remove-overflow 2s forwards;  
}

@keyframes show-data {
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(-7rem);
  }
}
  @keyframes remove-overflow {
    to{
      overflow: initial;
    }
  }


/*Footer*/

footer {
    background-color: #084572;
    border-radius: 0.3125rem;
    margin-top: 3%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.logo-footer{
    width: 165px;
    margin-right: 5%; 
}

.img-logo{
    width: 100%;
}


.footer-nav{
    display: flex;
    justify-content: space-evenly;
}

.footer-li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;

}


.footer-li a{
    text-decoration: none;
    color: white;
    cursor: pointer;  
    align-items: start;

}

.footer-li li{
    color: white;
    padding: 2px;
    font-size: 12px;
    height: 48px;
    margin-left: 24px;
}

.social-network {
    display: flex;
    justify-content: flex-end;
}


.social-network a{
    width: 48px;
    height: 48px;
    margin-left: 24px;
}

.img-footer{
    width: 50%;
}


.social-network img{
    width: 100%
}


/*Form*/
/* FORMS */

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(8, 69, 114, 1);
  width: 500px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  margin-top: 5%;
  border-radius: 74px;
  z-index: -2;
}

form form > img {
  align-self: center;
  width: fit-content;
  height: 100px;
}
figure img {
  margin: auto;
}
.img1 img {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 100px;
}
form>h2{
  text-align: center;
  margin-bottom: 10%;
  margin-top: 2%;
}
form>label {
  margin-right: auto;
  text-align: left;
  margin-left: 10%;
  align-items: flex-end;
}
.form-inpt{
  width: 80%;
  height: 37px;
  padding-left: 2%;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

form > input.largo,
form > container > input.largo {
  width: 97%;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form > div.other {
  display: flex;
  justify-content: space-evenly;
}
a {
  text-align: center;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

container #enviar {
  margin-top: 30px;
}
.btn {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  color: #E6B217;
  border: 2px solid #E6B217;
  width: 80%;
  height: 45px;
  margin: 10px auto 10px auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all ease-in-out 0s;
  z-index: 66;
}

.btn:hover{
  color: black;
  z-index: 55;
}
.btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #E6B217;
  transition: 0.4s all ease-in-out 0s;
}
.btn-1::before{
  width: 0;
}
.btn:hover::before{
  right: unset;
  left: 0;
  width: 100%;
}
.btn.is_active#enviar {
  animation: correcto 1s;

}
.btn.btn.is_active::before{
  animation: correcto-2 1s;
}
@keyframes correcto {
   0%   {background-color:green; top:10px;}
  25%  {background-color:green; top:15px;}
  50%  {background-color:green; top:3px;}
  75%  {background-color:green; top:1px;}
  100% {background-color:green; top:0px;}
}
@keyframes correcto-2 {
  0%   {background-color:green;}
 25%  {background-color: green;}
 50%  {background-color:green;}
 75%  {background-color:green;}
 100% {background-color: green;}
}