canvas {
    border: 1px solid black;
}
#gameStatus {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

#restartButton {
display: block;
margin: 10px auto;
padding: 10px 20px;
font-size: 18px;
background-color: #4CAF50;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
#restartButton:hover {
background-color: #45a049;
}

#scoreBoard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

#player1Score {
    color: red;
}

#player2Score {
    color: yellow;
}