*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}
/*
  turquoise: #20B2AA
  coral o salmon: #FF6B6B
  A lime green: #32CD32 */
body {
  position: relative;
}

body::before {
  content: "";
  background-image: url(img/fondo2.jpg);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body, header{
    width: 100%;
}
/*/////////////////////////  LOADER  //////////////////////////*/
body #contenedor-loader{
  height: 100%;
  width: 100%;
  background-color: #084572;
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 5s ;
  transition-timing-function:ease;
}

#porcentaje {
  position: absolute;
  animation: none;
  color: rgb(243, 228, 11);
  font-size:22px;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader{
  position: absolute;
  border: 15px solid #20B2AA;
  border-style: dotted;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  animation: girar 1.5s infinite;
}
@keyframes girar {
  0%{
      transform: rotate(0deg);
  }
  50%{transform: rotate(180deg);
  }100% {transform: rotate(360deg);}
} 

/*/////////////////////////  HEADER  //////////////////////////*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    padding: 5px 10px;
    background-color: #084572;
  }
  .usuario{
    position: relative;
  }
  .user-img img{
    width: 50px;
    border-radius: 100%;
    margin-top: 10px;
  }
  .usuario .desplegado{
    display: none;
    position: absolute;
    right: 0vw;
    width: 40vw;
    background-color: #0f63a0;
    z-index: 67;
    border-radius: 10%;
    border: 2px solid #E6B217;
  }
  .ListUser{
    position: relative;
    left: 7%;
  }
  .ListUser li{
    list-style: none;
  }
  .usuario .desplegado:before {
    content: '';
    position: absolute;
    left: 32vw;
    top: -5px;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #E6B217
  
  }
  li>a{
    font-family: Roboto;

  }
  #login-toggle:checked + .button + .desplegado,#menu-toggle:checked + .menu-icon + .nav ,  #share-toggle:checked + .button + .share{
    display: block;
  }
  
  
  
  
  .menu-hamburguesa {
    position: relative;
    display: flex;
    align-items: center;
  }
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .nav {
    display: none;
    position: absolute;
    top: 7vh;
    left: 0;
    background-color: #084572;
    width: 200px;
    border-radius: 2%;
    border: 1px solid #E6B217;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    border-bottom: 1px solid #444;
  }
  
  .nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  .nav ul li a:hover{
    color: #E6B217;
  }

  .nav-li li{
    color: white;
    margin: 4px;
    padding: 4px;
    font-size: 16px;
}




  .lupa{
    width: 35px;
    padding-left: 10px;
}

.barra-busq{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-busq>input{
    flex: 1;
    padding: 0 2%;
    border: 0;
    border-radius: 20px;
    outline: 0;
    font-size: 20px;
    width: 40vw;
  border-radius: 20px;
}

.logo {
    content:url("img/logo-footer.png");
    width: 60px;
    margin: 1vh 0 1vh 3vw;
}


/*/////////////////////////  CARDS Y CARRUSEL  //////////////////////////*/
h1 {
  color: #084572;
  border-bottom: 4px solid #e6b217;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  text-shadow: -2px 2px 0px rgb(249 165 18);
}

.bomberman{
    display: flex;
    justify-content: center;
}


.bomberman img{
    width: 80%;
}

.cards-destacadas{
  visibility: hidden;
  position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3,5vw;
}

.card{
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 40vw;
    margin: 1vh ;
}

.card img{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
  
  
  
.info{
    background-color: #E6B217;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    height: 60px;
    width: 100%;
    color: #444;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }


  .container1{
    margin-top: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-cards{
    width: 1200px;
    margin: 10px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}


.lista-cards::-webkit-scrollbar{
display: none;
}

#slideLeft, #slideRight {
  display: none;
}

/*/////CARD NUMERO 2///////*/

.container2{
  display: flex;
  justify-content: center;
  align-items: center;

  }
  
  .cards-vert{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 1200px;
    margin: 10px;
  }
  
  .card_vertical{
    margin: 2px;
    position: relative;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 160px;
    border-radius: 20px;
  }

  .card_vertical img{
    border-radius: 20px;

  }
  
  .card-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    height: 40%;
    background-color: #0f63a0;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -12svh;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 3s 0s;
  
  }
  
  .precio{
    display: block;
    font-size: var(--small-font-size);
    margin: 0;
  }
  
  .titulo{
    font-size: var(--h2-font-size);
    font-weight: 500;
    margin: 0;
  }
  
  .card_vertical:hover .card-info{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card_vertical:hover {
    animation: remove-overflow 2s forwards;  
  }
  
  @keyframes show-data {
    50%{
      transform: translateY(-10rem);
    }
    100%{
      transform: translateY(-7rem);
    }
  }
    @keyframes remove-overflow {
      to{
        overflow: initial;
      }
    }
  
  


/*/////// Footer ///////*/

footer {
     width: 100%;
      background-color: #084572;
      border-radius: 0.3125rem;
      margin-top: 3%;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
  }
  
  
  
  .logo-footer{
      width: 165px; 
  }
  
  .img-logo{
      width: 100%;
  }
  
  
  .footer-nav{
      display: flex;
      flex-direction: column;
      padding: 3% 0;
  }
  
  .footer-li{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      padding: 0;
  
  }
  
  
  .footer-li a{
      text-decoration: none;
      color: white;
      cursor: pointer;  
      align-items: start;
  
  }
  
  .footer-li li{
    visibility: hidden;
    position: absolute;
    display: block;
      color: white;
      padding: 2px;
      font-size: 12px;
      height: 48px;
      margin-left: 24px;
  }
  
  .social-network {
    width: 150px;
      display: flex;
      justify-content: space-between;
  }
  
  
  .social-network a{
      width: 38px;
      height: 48px;
  }
  
  .img-footer{
      width: 50%;
  }
  
  
  .social-network img{
      width: 100%
  }







@media only screen and (min-width:768px) {

/*////////////HEADER///////////////////*/
.logo{
  content: normal;
  width: 250px;
  padding-left: 10%;
}
.usuario .desplegado{
  width: 400%;
}
.usuario .desplegado::before{
  left: 85%;
}
li>a{
  font-size: 18px;
}
.nav{
  top: 5vh;
}
.barra-busq>input{
  width: 20vw;
}


/*/////////////////////////  CARDS Y CARRUSEL  //////////////////////////*/
.destacados{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards-destacadas{
  visibility: visible ;
  position: relative;
}
.cards-destacadas .card{
width: 200px;
}


.card{
  width: 300px; 
}


.card_vertical{
  width: 200px;
  margin: 5px;
}




/* FORMS */

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(8, 69, 114, 1);
  width: 500px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  margin-top: 5%;
  border-radius: 74px;
  z-index: -2;
}

form form > img {
  align-self: center;
  width: fit-content;
  height: 100px;
}
figure img {
  margin: auto;
}
.img1 img {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 100px;
}
form>h2{
  text-align: center;
  margin-bottom: 10%;
  margin-top: 2%;
  color: #E6B217;
}
form>label {
  margin-right: auto;
  text-align: left;
  margin-left: 10%;
  align-items: flex-end;
  color: #E6B217;
}
.form-inpt{
  width: 80%;
  height: 37px;
  padding-left: 2%;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}


form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form > div.other {
  display: flex;
  justify-content: space-evenly;
}
a {
  text-align: center;
  color: #E6B217;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

container #enviar {
  margin-top: 30px;
}
.btn {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  color: #E6B217;
  border: 2px solid #E6B217;
  width: 80%;
  height: 45px;
  margin: 10px auto 10px auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all ease-in-out 0s;
  z-index: 66;
}

.btn:hover{
  color: black;
  z-index: 55;
}
.btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #E6B217;
  transition: 0.4s all ease-in-out 0s;
}
.btn-1::before{
  width: 0;
}
.btn-1:hover::before{
  right: unset;
  left: 0;
  width: 100%;
}
.btn.btn.is_active::before{
  animation: blastOut 1s;
}
@keyframes blastOut {
  from {
    transform: scale(0.9);
    opacity: .4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}


/*///////////CUATRO EN LINEA //////////////*/
.cuatroEnLinea{
  display: flex;
  justify-content: center;
}

.juego{
  margin-right: 15px ;
  width: 900px;
  height:600px;
  background-color: #084572;
}

.juego img{
  width: 100%;
}
.barra-juego{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.barra-juego a{
  width: 20%;
}
.barra-juego .logo-4{
  width: 100%;
}
.barra-juego .share{
  display: none;
}
.likes{
  width: 200px;
  display: flex;
  flex-direction: row;
}
.reglas{
  width: 320px;
  height:600px;
  background-color: #084572;
}

.content-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.capturas{
  height: 230px;
  width: 1235px;
  background-color: #084572;
  margin: 10px;
}

.comment-content{
  background-color: white;
  padding: 20px;
  width: 80%;
  margin-bottom: 10px;
}

.user{
  display: flex;
  align-items: center;
}
.user img{
  margin: 2px 10px;
  background-color: #444;
  border-radius: 50%;
}
.comment{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px auto;
}
#slideLeft, #slideRight {
display: block;
border-radius:50%;
height: 50px;
width: 50px;
background-color: rgba(255, 255, 255, 0.568);
border: 0;
display:block;
}







/*  carrusel prueba   */


.cards-vertical {
  --item-width: 250px;
  list-style: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  transition: 1s ease-in-out;
}

.cards-vertical::-webkit-scrollbar{
  display: none;
  }

.cards-vertical .card-v:first-of-type {
  margin-left: calc(50% - (var(--item-width) / 2));
}

.cards-vertical .card-v:last-of-type {
  margin-right: calc(50% - (var(--item-width) / 2));
}

.card-v {
  view-timeline-name: --item-visible;
  view-timeline-axis: inline;

  animation: linear adjust-z-index both;
  animation-timeline: --item-visible;
  transform: translate3d(0, 0, 0);

  flex: 0 0 auto;
  perspective: 1000px;
  position: relative;
  z-index: 1;
  will-change: z-index;
  display: block;
  scroll-snap-align: center;
  text-decoration: none;
}

.card-v > .image-card-v {
  position: relative;
  display: block;
  animation: linear rotate both;
  animation-timeline: --item-visible;
  will-change: transform;
  width: var(--item-width);
  aspect-ratio: 250 / 350;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, 0, 0) rotate3d(0, 1, 0, -45deg) scale(0.5);
  transform: translate3d(-50%, 0, 0) rotate3d(0, 1, 0, -45deg) scale(0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.image-card-v > img {
  display: block;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-card-v .reflection {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0.5)),
    var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  transform: scaleY(-1) translateY(-0.5em);
  opacity: 0.5;
}

@keyframes adjust-z-index {
  0% {
    z-index: 1;
  }
  50% {
    z-index: 100;
  }
  100% {
    z-index: 1;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate3d(0, 1, 0, -45deg)
      scale(0.5);
    transform: translate3d(-50%, 0, 0) rotate3d(0, 1, 0, -45deg) scale(0.5);
    opacity: 0.25;
  }
  35% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, -40deg) scale(0.75);
    transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, -40deg) scale(0.75);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 1em) rotate3d(0, 1, 0, 0) scale(1);
    transform: translate3d(0, 0, 1em) rotate3d(0, 1, 0, 0) scale(1);
    opacity: 1;
  }
  65% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, 40deg) scale(0.75);
    transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, 40deg) scale(0.75);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0) rotate3d(0, 1, 0, 45deg) scale(0.5);
    transform: translate3d(50%, 0, 0) rotate3d(0, 1, 0, 45deg) scale(0.5);
    opacity: 0.25;
  }
}

}



